:root {
  --font-family: "Google Sans", system-ui, sans-serif;

  /* Color Variables */
  --dark-green: #204E1E;
  --light-grey: #F6F6F6;
  --grey: #EEE;
  --dark-grey: #848484;
  --brand-blue: #182D77;
  --brand-blue-muted: #DEE1F2;
  --brand-blue-strong: #2B50F4;

  --padding-btnA: 15px 20px;
  --padding-btnB: 10px 20px;
}