.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section::-webkit-scrollbar {
    width: 4px;
}

.section::-webkit-scrollbar-track {
    background: transparent;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 16px;
}
