.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 534px;
  border: 1px solid var(--dark-grey);
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.periodButton {
  flex-shrink: 0;
  border: 0;
  background: var(--grey) !important;
}

.periodButton:hover {
  box-shadow: none !important;
}

.statsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1;
}

.statText {
  margin: 0;
  font-size: 18px;
  line-height: 1;
}

.clockIcon {
  width: 20px;
  height: 20.2px;
}

.tickIcon {
  width: 20px;
  height: 15px;
}

.bookIcon {
  width: 20px;
  height: 28px;
}

.optimisticImage {
  position: absolute;
  top: 300px;
  left: -50px;
  width: 278px;
  height: 278px;
  transform: rotate(13.08deg);
  pointer-events: none;
  user-select: none;
}

@media (max-width: 900px) {
  .card {
    min-height: 450px;
  }

  .optimisticImage {
    top: 240px;
    left: -92px;
    width: 244px;
    height: 244px;
  }
}