.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero {
    margin-top: 150px;
}

.content h1 {
    line-height: 1.2;
    font-size: 54px;
    font-weight: 500;
    color: var(--dark-green);
}

.content p {
    font-size: 16px;
    color: var(--dark-grey);
    font-weight: 500;
}

.hero {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.ctaButton {
    border: none;
    font: inherit;
    align-self: flex-start;
}

.video {
    width: 400px;
    border-radius: 32px;
}